<userConfiguration currentSyncConfigurationId="0">
   <syncConfigurations class="java.util.ArrayList">
      <syncConfiguration>
         <url>http://mygallery.piwigo.com</url>
         <username>username</username>
         <password>Xy1bXS1f</password>
         <usesProxy>false</usesProxy>
         <proxyUrl>http://myproxy.server.com</proxyUrl>
         <proxyPort>8000</proxyPort>
         <chunkSize>500</chunkSize>
      </syncConfiguration>
   </syncConfigurations>
</userConfiguration>